name: Move release tags

on:
  workflow_dispatch:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+

jobs:
  update-release-tags:
    name: Move tags
    runs-on: ubuntu-latest
    steps:

      - name: Check out code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: master

      - name: Update release tags for latest major and minor releases
        uses: bewuethr/release-tracker-action@master
